.kaiwa {
  margin-bottom: 50px;
}
/* 左画像 */
.kaiwa-img-left {
  margin-left: 0;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: -70px;
}
/* 右画像 */
.kaiwa-img-right {
  margin-right: 70px ;
  float: right;
  width: 60px;
  height: 60px;
}
.kaiwa-time-left{
    color: #F2F2F2;
    float: right;
    margin-right: 10px;
    margin-top: 40px;
}
.kaiwa-time-right{
    color: #F2F2F2;
    float: left;
    margin-left: 10px;
    margin-top: 40px;
}
.kaiwa figure img {
  width: 200%;
  height: 200%;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin: 0;

}
/* 画像の下のテキスト */

.kaiwa-name-right {
  font-size: 40px;
  text-align: right;
  position: relative;
  right: 20px;
  color: gray;
}

.kaiwa-name-left {
  font-size: 40px;
  text-align: left;
  position: relative;
  left: 150px;
  color: gray;
}
/* 左からの吹き出しテキスト */
.kaiwa-text-right {
    max-width: 80%;
word-wrap: break-word;
  position: relative;
  margin-left: 130px;
  margin-top: -10px;
  padding: 20px;
  border-radius: 70px;
  background: #fff;
text-align:left;
  float: left;
}

/* 右からの吹き出しテキスト */
.kaiwa-text-left {
    max-width: 80%;
word-wrap: break-word;
text-align:left;
  margin-right: 20px;
  padding: 20px;
  border-radius:70px;
  background-color: #85e249;
  float: right;
}
p.kaiwa-text {
  margin: 0 0 20px;
}
p.kaiwa-text:last-child {
  margin-bottom: 0;
}

.kaiwa:after,.kaiwa:before {
  clear: both;
  content: "";
  display: block;
}

body{
    /* overflow-y: hidden; */
    background:#ccd8ff;
    color: #444;
}
.container{
    /* text-align: center; */
    /* vertical-align: bottom; */
    width: 100vw;
    height: 80vh;
    margin:0px;
    /* padding: 30px; */
    /* margin: 50px auto; */
}
.title{

}
h1{
    font-size: 100px;
    text-align: center;
    position: absolute;
    left: 300px;
    top: 30px;
}
h1 span{
    position: relative;
    top: -40px;
    font-size: 48px;
}
h1 span::before{
    content: "\A" ;
    white-space: pre ;
}
img.icon{
    margin: 30px;
    width: 200px;
    height: 200px;
}

.room-thread{
    border: 5px solid #6b89be;
    margin-top: 20px;
    margin-bottom: 20px;
    /* white-space:normal; */
    /* background:#a3c0ec; */
    background-image: url('/img/back.png');
    background-size:cover;
    width:100vw;
    height: 60vh;
    font-size: 200%;
    overflow: scroll;
    border-radius: 50px;
}
#thread{
    font-size: 150%;


}
.memo{
    background: white;
    border-radius: 10px;
}
#exit{
    color: gray;
text-align: center;
}
.enterMsg{
    text-align: center;
    color: gray;
}
.room-login_user{
    font-size: 300%;
}
.room-message_textarea{
    border-radius: 30px;
    width: 100vw;
    height: 10vh;
    font-size: 300%;
}
.common-button{
border-radius: 30px;
    font-size: 300%;
    width: 20%;
    height: 8vh;
}

.input-button{
    float: right;
    margin-right: 5px;
}
#user-list{
    font-size: 50px;
}
.modaal-container{
    border-radius: 30px;
}
