body{

    background:#c2bee6;
}
.container{

}
.row{

}
.index-enter {
    padding-top: 20px;
    text-align: left;
}
form{
    width:300px;
    margin: 50px auto;
    float:center;
}
.index-user_name_text{
    width:300px;
}
.icon{
    padding: 0;
    margin: 50px auto;
    text-align: center;
}
img{

}

#user{
    text-align: left;
}
