body{

    background:#c2bee6;
}
.container{

}
.row{

}
.index-enter {
    padding-top: 20px;
    text-align: left;
}
form{
    width:300px;
    margin: 50px auto;
    float:center;
}
.index-user_name_text{
    width:300px;
}
.index-user_pass_text{
    width:300px;
}

img{

}

#imgSelect, #imgSelect option {

    /* background-repeat:no-repeat; */
    /* text-align: center; */
    color: rgba(0, 0, 0, 0);
    height:64px;
    width: 64px;
    margin: 0 auto;
    align-items: center;
    padding-left:32px;
}
#user{
    text-align: left;
}
