<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="only screen and (max-device-width:480px)" href="/stylesheets/index/sp.css"/>
<link rel="stylesheet" type="text/css" media="screen and (min-device-width:481px)" href="/stylesheets/index/pc.css" />

<body>

    <div class="container">
        <div class="row">
            <h1>Node Chat<span>&nbsp　ver.A-group</span></h1>
        </div>

        <div class="row">
            <form method="post" action="/room">
                <div class="index-user_name">
                    <div id="user">
                        ユーザ名<br>
                    </div>
                    <input type="text" id="userName" name="userName" class="index-user_name_text" placeholder="Username">

                </div>
                <div class="index-enter">
                    <input type="button" value="ENTER" class="common-button index-enter_button btn btn-info" onclick="enter();">
                </div>
            </form>
        </div>
    </div>
</body>

<script src="/javascripts/index.js"></script>
