
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
<body>

  <div class="wrap container">
    <div>
      <div class="icon"><img src="/img/linep.png" /></div>
    </div>
    <!-- <div class='loginLabel'>
      <label>ログイン</label>
    </div> -->
    <form id="login_submit" method="post" action="/login">
      <div>
        <label>ユーザーID：</label>
        <input type="text" id='UserName' name="UserName"/>
      </div>
      <div>
        <label>パスワード：</label>
        <input type="password" id='Password' name="Password"/>
      </div>
      <div>
        <input type="submit" value="ログイン" class='btn btn-info'/>
      </div>
    </form>
    <div>
      {{alert}}
    </div>
    <form id="transition_register" action="/register">
      <div>
        <input type="submit" value="新規登録" class="btn btn-link signUp"/>
      </div>
    </form>
  </div>
</body>
