<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="only screen and (max-device-width:480px)" href="/stylesheets/room/sp.css"/>
<link rel="stylesheet" type="text/css" media="screen and (min-device-width:481px)" href="/stylesheets/room/pc.css" />

<body>

    <div class="container">
        <div class="row ">
            <h1>Node Chat Room</h1>
            <div class='userList'>

            </div>
        </div>
        <div class="row">
            <form method="post" action="/">
                <div class="room-thread" id="thread-room">
                    <div id="thread"></div>
                </div>
                <div class="room-login_user">
                    ログインユーザ：{{userName}}さん
                    <input id="userName" type="hidden" value="{{userName}}">
                </div>
                <div class="room-message">
                    <textarea id="message" rows="4" class="room-message_textarea" placeholder="投稿文を入力してください"></textarea>
                </div>
                <div class="room-submit">
                    <input type="button" value="退室する" class="common-button room-exit_button btn btn-info" onclick="exit();">
                    <input type="button" value="投稿" class="common-button room-publish_button btn btn-info input-button" onclick="publish();">
                    <input type="button" value="メモ" class="common-button room-memo_button btn btn-info input-button" onclick="memo();">
                </div>

                <div class="room-exit">

                </div>
            </form>
        </div>
    </div>

</body>
<script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>
<script src="/javascripts/publish.js"></script>
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script>
